body {
    justify-content: center;
}

.aside-block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 6.2%;
}

.aside-block:hover {
    width: 21.2%;
}

.aside-block:hover  .aside-block__logo {
    background-size: contain;
}

.aside-block:hover  .aside-block__manager {
    display: flex;
    padding-left: 47px;
}

.aside-block__logo {
    background-position: 0 top;
    background-size: auto;
    height: 49px;
    width: 95%;
}

.navbar-block__list {
    overflow: hidden;
    padding-left: 47px;
}

.aside-block__manager {
    left: 5px;
    display: none;
}

.main-block {
    width: 83%;
    margin: 0 auto;
}

.main-block__header {
    width: 100%;
}

.customer-block {
    position: relative;
    justify-content: space-evenly;
}

.customers-data__header {
    justify-content: space-evenly;
}

.customers-data__customers-company,
.customers-data__customers-phone,
.customers-data__customers-email,
.customer-block__company,
.customer-block__phone,
.customer-block__email {
    display: none;
}

.cusromer-block__mob-size {
    background: url(../images/arrdown.png) no-repeat center bottom;
    background-size: 40px 15px;
    width: 100%;
    height: 15px;
    display: block;
    position: absolute;
    bottom: 0;
}